{% extends 'layout.html' %}

{% block title %}Create account{% endblock %}

{% block content %}
<div  class="createUsernameAndPasswordCard">
    <div class="cardMessageTextII">
        <h3 style="margin-left: 40px; font-size: 20px; margin-bottom: 5px;">Sign Up</h3>
        <form action="{{ url_for('register') }}" method="post" autocomplete="off">
            <div>
                <label class='usernameLogIn' for="sampleInput">Surname:</label>
                <input class="usernameLogIn" type="text" placeholder="Surname" id="surname" name='surname' required>
            </div>
            <div>
                <label class='usernameLogIn' for="sampleInput">Firstname:</label>
                <input class="usernameLogIn" type="text" placeholder="Firstname" id="firstname" name='firstname' required>
            </div>
            <div>
                <label class='usernameLogIn' for="sampleInput">Username:</label>
                <input class="usernameLogIn" type="text" placeholder="Username" id="username" name='username' required>
            </div>
            <div>
                <label class='usernameLogIn' for="sampleInput">Email:</label>
                <input class="usernameLogIn" type="email" placeholder="example@gmail.com" id="email" name="email" required>
            </div>
            <div>
                <label class='usernameLogIn' for="sampleInput">Password:</label>
                <input class="usernameLogIn" type="password" placeholder="********" id="password" name="password" required>
            </div>
            {% if mes %}
            <div class="alert-box alert-box--success hideit">
                <p>{{ mes }}</p>
                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
            </div><!-- end success -->
            {% endif %}
            {% if msg %}
            <div class="alert-box alert-box--error hideit">
                <p>{{ msg }}</p>
                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
            </div>
            {% endif %}
            <input class="logInButtonLoginCard" type="submit" value="Register">
        </form>
    </div>
</div>
{% endblock %}